nav > ul > li a {
	font-size: 20px;
	font-weight: 800;
	text-shadow: 1px 3px 1px #888;
}

#contact h4 {
	font-size: 22px;
	line-height: 27px;
}

.revel_section_dd header p {
	font-size: 22px;
	color: #999;
	font-weight: 400;
	margin-bottom: 60px;
}

.revel_team_member .revel_team_member_name {
	font-size: 24px;
	margin-bottom: 5px;
}

.revel_team_member .revel_team_member_position {
	font-size: 20px;
}

input.revelcf-text, textarea.revelcf-textarea  {
	font-size: 22px;
	color: #000;
}

.ab_latest_portfolio figure p {
	font-size: 100%;
}

.tp-caption {
	font-size: 30px;
	font-weight: 800;
}

.tp-captionrevelance-big {
	font-size: 600px;
}

#abdev_main_header {
	padding: 10px;
}

.revel_section_dd header h3:after{
	display: block;
	content: "";
	height: 36px;
	width: 36px;
	position: absolute;
	bottom: -18px;
	left: 50%;
	margin-left: -18px;
	color: #e42382;
	font-family: '';
	font-size: 18px;
	content: "";
}

.revel_section_dd header p{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 85px;
	text-transform: uppercase;
	color: #676767;
	line-height: 24px;
}




/*From here down are the suggestions from Erik*/
#main_menu {
	margin: auto;
	width: 1450px;
	float: none;
}
#main_menu li a {
	font-size: 25px; 
} /*This makes the font bigger, but space in nav bar is limited, need to enlarge space*/

.revel_section_dd header h3{
    position: initial;
    margin-bottom: 0px;
    padding-bottom: 20px;
    font-weight: 500;
} /*This doesn't affect the jumbotron at all, can't find somedthing that does*/

/*End of Erik fixes*/

.revel_team_member > p {
	margin-bottom: 19px;
	font-size: 17px;
	color: #000;
	font-weight: 300;
}

.revel_section_dd header p {
	color: #000;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 30px;
	padding: 0 0;
}

.revel_team_member .revel_team_member_position {
	color: #c11a0d;
}

.revel_blockquote p small {
	color: #c11a0d;
}

.revelcf-submit {
	color: #c11a0d;
}

.revel_section_dd.pattern_overlayed a,
	.revel_section_dd.color_overlayed a{
		color: #c11a0d;
	}

.revel-tabs .ui-tabs-nav li:hover a {
		/*color: #333;*/
		color:#c11a0d;
	}	